<h3>マイページ</h3>

<h2>登録情報</h2>
<%= link_to "編集する",edit_public_customer_path %>

<table>
    <tbody>
        <tr>
        <th>氏名</th>
        <th><%= @customer.full_name %></th>
        </tr>

        <tr>
        <th>カナ</th>
        <th><%= @customer.full_name_kana %>
        </tr>

        <tr>
        <th>郵便番号</th>
        <th><%= @customer.postal_code %></th>
        </tr>

        <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
        </tr>

        <tr>
        <th>電話番号</th>
        <th><%= @customer.telephone_number %></th>
        </tr>

        <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
        </tr>
　　 </tbody>
</table>
    <h2>配送先</h2>
    <%= link_to "一覧を見る", public_addresses_path %>

    <h2>注文履歴</h2>
    <%= link_to "一覧を見る",public_orders_path %>

