<h1><%= @customer.full_name %>さんの会員情報編集</h1>

<%= form_with model: @customer, url:admin_customer_path do |f| %>

<p>会員ID<%= @customer.id %></p>
<p>氏名</p>
<%= f.text_field :last_name %>
<%= f.text_field :first_name %>

<p>フリガナ</p>
<%= f.text_field :last_name_kana %>
<%= f.text_field :first_name_kana %>

<p>郵便番号</p>
<%= f.text_field :postal_code %>

<p>住所</p>
<%= f.text_area :address %>

<p>電話番号</p>
<%= f.text_field :telephone_number %>



<p>メールアドレス</p>
<%= f.email_field :email %>

<p>会員ステータス</p>
<%= f.radio_button :is_active, true %>
<%= f.label :is_active, "有効" %>

<%= f.radio_button :is_active, false %>
<%= f.label :is_active, "退会" %>

<%= f.submit "編集内容を保存" %>

<% end %>


<% link_to "編集する", edit_admin_customer_path %>
<% link_to "注文履歴一覧を見る", public_orders_path %>