<h4>注文履歴一覧</h4>

<table class="table">
  <thead class="thead-dark">
    <th scope="col">注文日</th>
    <th scope="col">購入者</th>
    <th scope="col">注文個数</th>
    <th scope="col">注文ステータス</th>

  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to (l order.created_at, format: :short), admin_order_path(order.id) %></td>
      <td><%= order.customer.full_name %></td>
      <% total = 0 %>
      <% order.order_details.each do |order_detail| %>
      <% total += order_detail.amount %>
      <% end %>
      <td><%= total %>
      </td>
      <td><%= order.status_i18n %></td>

    <% end %>
  </tbody>
</table>

<%= paginate @orders %>