<h1>注文履歴詳細</h1>

<h2>注文情報</h2>
<table>
  <thead>
    <th>注文日</th>
    <th>配送先</th>
    <th>支払方法</th>
    <th>ステータス</th>
  </thead>
  <tbody>
    <tr>
      <td><%= l @order.created_at %></td>
      <td>〒<%= @order.postal_code %><%= @order.address %></br>
      <%= @order.name %></td>
      <td><%= @order.payment_method_i18n %></td>
      <td><%= @order.status_i18n %></td>

    </tr>
  </tbody>
</table>

<h2>請求情報</h2>
<table>
  <thead>
    <th>商品合計</th>
    <th>配送料</th>
    <th>ご請求額</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @total.round.to_s(:delimited) %></td>
      <td><%= 800 %></td>
      <td><%= @order.billing_amount.to_s(:delimited) %></td>

    </tr>
  </tbody>
</table>

<h2>注文内容</h2>
<table>
  <thead>
    <th>商品</th>
    <th>単価(税込)</th>
    <th>個数</th>
    <th>小計</th>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail|  %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.add_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.subtotal %></td>

    </tr>
    <% end %>
  </tbody>
</table>