<p id="notice"><%= notice %></p>

<h1>商品一覧(全<%= @items.where('created_at > ?', 2.months.ago).count %>件)</h1>
<!--全何件と表示するにはどうしたらいいのか調べる-->

<% @items.each do |item| %>
<div>
  <P><%= image_tag item.image %></P>
  <p>商品名<%= link_to item.name, public_item_path(item.id) %></p>
  <p>¥<%= item.price.to_s(:delimited) %></p>
</div>
<% end %>

<%= paginate @items %>