<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
　　<P><%= image_tag @item.get_image(300, 200) %></P>
　　</div>

　　<div class="col d-flex align-items-center">
　　<%= @item.name %></br>
　　<%= @item.introduction %></br>
　　¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)
　　</div>
  </div>
</div>

<div class="text-center">
　　<%= form_with model: @cart_item, url:public_cart_items_path do |f| %>
　　<%= f.hidden_field :item_id, :value => @item.id  %>
　　　<!--個数選択-->
　　<%= f.select :amount, *[1..10] %>


<!--カートに入れるを作る-->
<%= f.submit 'カートに入れる' ,class: 'btn btn-success btn-sm' %>
<% end %>
</div>