<p id="notice"><%= notice %></p>


<P><%= image_tag @item.image %></P>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)
</p>

<!--個数選択-->
<!--カートに入れるを作る-->